* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body {
		font-family: Arial, sans-serif;
		font-size: 16px;
}

h1{
	color:#0000FF;
	text-align: center;
	font-size: 1.75em;
	margin-bottom: 50px;
	margin-top: 25px;

}


.menu-section {
	position:relative;
	background-color: #F4F4F4;
	border:1px solid #0000FF;
	margin-bottom: 15px;
	margin-bottom: 10px;
	padding:25px 10px 10px 10px;

}


.menu-section-title {
	position:absolute;
	top:0;
	right:0;
	border: 1px solid #00FF00;
	font-size: 1.25em;
}

#chicken-section{
	background-color: #00FF00;
}

#beef-section {
	background-color: #EE0000;
	color:#0000FF;
}

#sushi-section {
	background-color: #EEEEEE;
	color:#FF0000;
}

.custom-row {
/*	background-color: #FF0000;
	min-height: 10px;*/
	margin: 0 -15px;
}

.custom-container {
	/*background-color: #00FF00;
	min-height: 100px;*/
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}


.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, 
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
	position:relative;
	padding-left: 15px;
	padding-right: 15px;
	min-height: 1px;
}


.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
	float: left;
}


.col-xs-12 {
	width: 100%;
}

.col-xs-11 {
	width: 91.66%;
}

.col-xs-10 {
	width: 83.33%;
}

.col-xs-9 {
	width: 75%;
}

.col-xs-8{
	width: 66.67%;
}

.col-xs-7 {
	width: 58.33%;
}

.col-xs-6 {
	width: 50%;
}

.col-xs-5 {
	width: 41.67%;
}

.col-xs-4 {
	width: 33.3333%;
}

.col-xs-3 {
	width: 25%;
}

.col-xs-2 {
	width: 16.67%;
}

.col-xs-1 {
	width: 8.33%;
}








/*****For desktop screens************/

@media screen and (min-width: 992px  ) {
	.custom-container {
		width: 970px;
	}

	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
		float:left;
	}


	.col-md-12 {
		width:100%;
	}

	.col-md-11 {
		width: 91.66%;
	}

	.col-md-10 {
		width:83.33%;
	}

	.col-md-9 {
		width:75%;
	}

	.col-md-8 {
		width:66.67%;
	}

	.col-md-7 {
		width: 58.33%;
	}

	.col-md-6 {
		width:50%;
	}

	.col-md-5 {
		width:41.67%;
	}

	.col-md-4 {
		width:33.3333%;
	}

	.col-md-3 {
		width:25%;
	}

	.col-md-2 {
		width: 16.67%;
	}

	.col-md-1 {
		width:8.33%;
	}

}


/*****For tablet screens************/

@media screen and (min-width: 768px) and (max-width: 991px) {

	.custom-container{
		width: 750px;
	}

	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
		float:left;
	}

	.col-sm-12 {
		width: 100%;
	}

	.col-sm-11 {
		width: 91.66%;
	}

	.col-sm-10 {
		width:83.33%;
	}

	.col-sm-9 {
		width:75%;
	}

	.col-sm-8{
		width:66.67%;
	}

	.col-sm-7 {
		width: 58.33%;
	}

	.col-sm-6 {
		width:50%;
	}

	.col-sm-5 {
		width:41.67%;
	}

	.col-sm-4 {
		width:33.3333%;
	}

	.col-sm-3 {
		width:25%;
	}

	.col-sm-2 {
		width: 16.67%;
	}

	.col-sm-1 {
		width:8.33%;
	}
}




